asgiref==3.7.2
Django==5.0.3
django-cors-headers==4.3.1
django-filter==24.1
djangorestframework
djangorestframework-simplejwt
drf-nested-routers==0.93.5
iniconfig==2.0.0
packaging==24.0
pillow==10.2.0
pluggy==1.4.0
psycopg2-binary
PyJWT
pytest==8.1.1
pytest-django==4.8.0
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
